@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  background-image: url(backgroundhehe.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
div{
    text-align: center;
}

h1 {
    font-size: 70px;
    font-style: bold;
    color: green;
    font-family: "Kanit";
    text-align: center;
}
h2 {
  font-size: 28px;
  font-style: bold;
  color: black;
  font-family: "rubik";
  text-align: center;
}
.h2a {
  color: green;
  font-style: italic;
}
p {
    text-align: center;
    font-size:3vh;
    font-style: bold;
    color: black;
    font-family: "rubik";
}

.p2 {
  text-align: center;
  line-height: 1;
  font-size: 3vh;
  font-style: bold;
  color: black;
  font-family: "rubik";
  font-style: italic;
}
.p1 {
  color: green;
  font-style: bold;
  font-family: "rubik";
}
.p3 {
    color: white;
    font-style: italic;
    text-align: right;
    font-size: 2vh;
}
.p4 {
    font-size: 3vh;
    font-style: italic;
}
.p5 {
    font-size: 2.5vh;
    font-style: italic;
}
.qrcode img {
    width: 100px;
    height: 100px;
}
.logo img {
    height: 101px;
}
