@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body {
  height: 1000px;
  width: 1000px;
  padding: 0;
  background-image: url(backgroundhehe.png);
  background-size: cover;
  background-repreat: no-repeat;
}
h1 {
  font-size: 32px;
  font-style: bold;
  color: green;
  font-family: "Kanit";
  font-position: center;
}
h2 {
  font-size: 25px;
  font-style: bold;
  color: black;
  font-family: "rubik";
  font-position: center;
}
.h2 {
  color: green;
  font-style: italic;
}
.p1 {
  text-align: center;
  line-height: 1.5;
  font-size: 50vh;
  font-style: bold;
  color: black;
  font-family: "rubik";
}
.p2 {
  font-color: green;
  font-style: bold;
  font-family: "rubik";
}
